<div class="distance-req">
  <mat-label>מוצא</mat-label>
  <br />
  <input type="text" matInput [(ngModel)]="globals.source" />
  <br />
  <mat-label>יעד</mat-label>
  <br />
  <input type="text" matInput [(ngModel)]="globals.destination" />
  <hr />
  <button
    [disabled]="!(globals.source.length > 2 && globals.destination.length > 2)"
    mat-raised-button
    class="btn"
    (click)="onClicked()"
  >
    הצג את המרחק
  </button>
  <br />
  <p
    class="error-msg"
    *ngIf="!(globals.source == '') && globals.source == globals.destination"
  >
    הכנסת ערך דומה למוצא ויעד
  </p>
  <p
    class="error-msg"
    *ngIf="
      (!(globals.source == '') && globals.source.length < 3) ||
      (!(globals.destination == '') && globals.destination.length < 3)
    "
  >
    יש להכניס ערכים של לפחות שלושה תווים
  </p>
  <p class="error-msg" *ngIf="globals.errorCode == 402">
    ערכים לא תקינים ,בדוק ונסה
  </p>
</div>
